Repository reefland/extra_k8s_apps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/argocd-app, area/helm, area/custom-alerts, area/README-update, area/kustomization, area/image-update

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/argocd-app:
  - "*argocd*/**/*"
area/helm:
  - "*helm*/**/*"
area/custom-alerts:
  - "custom-alerts/**/*"
area/README-update:
  - "**/README.md"
area/kustomization:
  - "**/kustomization.yaml"
area/image-update:
  - "**/*.png"

Workflow initial commit
  .github/workflows/broken-link-check.yaml
Labels: area/github

Updated broken links
  README.md
  custom-alerts/README.md
Labels: area/custom-alerts, area/README-update

Converted to app-template chart
  zigbee2mqtt-argocd-helm/README.md
  zigbee2mqtt-argocd-helm/applications/zigbee2mqtt.yaml
  zigbee2mqtt-argocd-helm/codeserver_editor.png
  zigbee2mqtt-argocd-helm/workloads/traefik-config/codeserver-middleware.yaml
  zigbee2mqtt-argocd-helm/workloads/zigbee2mqtt/values.yaml
Labels: area/argocd-app, area/helm, area/README-update, area/image-update

Fix branches to monitor.
  .github/workflows/linter.yaml
Labels: area/github

Updated per linter
  README.md
  apps/cloudflared-tunnel-argocd-helm/README.md
  apps/custom-alerts/workloads/base/application/mosquitto-prometheus-alerts.yaml
  apps/custom-alerts/workloads/kustomization.yaml
  apps/external-snapshotter-argocd-kustomize/workloads/base/deploy/csi-snapshotter/rbac-csi-snapshotter.yaml
  apps/external-snapshotter-argocd-kustomize/workloads/base/deploy/csi-snapshotter/rbac-external-provisioner.yaml
  apps/external-snapshotter-argocd-kustomize/workloads/base/deploy/snapshot-controller/rbac-snapshot-controller.yaml
  apps/gitea-argocd-kustomize/workloads/gitea/base/application/ingress.yaml
  apps/mosquitto-exporter/workloads/mosquitto-exporter/base/application/deployment.yaml
  apps/mosquitto-exporter/workloads/mosquitto-exporter/base/application/service-monitor.yaml
  apps/mosquitto-exporter/workloads/mosquitto-exporter/kustomization.yaml
  apps/mosquitto/workloads/mosquitto/base/application/service.yaml
  apps/pod-restart-info-collector/README.md
  apps/rook-ceph-argocd-helm/README.md
  apps/unifi-controller-argocd-helm/applications/unifi.yaml
  apps/unpoller-exporter/workloads/unpoller/base/application/podmonitor.yaml
  apps/zigbee2mqtt-argocd-helm/README.md
Labels: area/README-update, area/kustomization

Updated per linter
  apps/cloudflared-tunnel-argocd-helm/README.md
  apps/mosquitto-exporter/workloads/mosquitto-exporter/base/application/deployment.yaml
  apps/mosquitto-exporter/workloads/mosquitto-exporter/kustomization.yaml
  apps/mosquitto/workloads/mosquitto/base/application/service.yaml
Labels: area/README-update, area/kustomization

Added yaml schema validator
  apps/apt-cacher-ng-argocd-helm/applications/apt-cacher-ng.yaml
  apps/cloudflared-tunnel-argocd-helm/applications/cloudflared.yaml
  apps/custom-alerts/applications/custom-alerts.yaml
  apps/external-snapshotter-argocd-kustomize/applications/external-snapshotter.yaml
  apps/gitea-argocd-kustomize/applications/gitea.yaml
  apps/goldilocks/applications/goldilocks.yaml
  apps/home-assistant-argocd-helm/applications/home-assistant.yaml
  apps/mosquitto-argocd-helm/applications/mosquitto.yaml
  apps/mosquitto-exporter/applications/mosquitto-exporter.yaml
  apps/mosquitto/applications/mosquitto.yaml
  apps/pod-restart-info-collector/applications/pod-restart-info-collector.yaml
  apps/rook-ceph-argocd-helm/applications/rook-ceph-cluster.yaml
  apps/rook-ceph-argocd-helm/applications/rook-ceph-operator.yaml
  apps/syncthing-argocd-helm/applications/syncthing.yaml
  apps/trilium-notes-argocd-helm/applications/trilium-notes.yaml
  apps/unifi-controller-argocd-helm/applications/unifi.yaml
  apps/unpoller-exporter/applications/unpoller.yaml
  apps/velero-argocd-helm/applications/velero.yaml
  apps/vpa/applications/vpa.yaml
  apps/zigbee2mqtt-argocd-helm/applications/zigbee2mqtt.yaml
Labels: none

Added Uptime Kuma - initial commit
  README.md
  apps/uptime-kuma-argocd-helm/README.md
  apps/uptime-kuma-argocd-helm/applications/uptime-kuma.yaml
  apps/uptime-kuma-argocd-helm/first-login-uptime-kuma.png
  apps/uptime-kuma-argocd-helm/namespaces/uptime-kuma.yaml
  apps/uptime-kuma-argocd-helm/workloads/uptime-kuma/values.yaml
Labels: area/README-update, area/image-update

Fix Goldilocks broken link issue #3
  README.md
Labels: area/README-update

Test podSecurityContext values
  apps/mosquitto-argocd-helm/applications/mosquitto.yaml
Labels: none

Check broken links on push
  .github/workflows/broken-link-check.yaml
Labels: area/github

Converted to app-template standard chart
  apps/mosquitto-argocd-helm/README.md
  apps/mosquitto-argocd-helm/applications/mosquitto.yaml
  apps/mosquitto-argocd-helm/workloads/mosquitto/values.yaml
Labels: area/README-update

Chop comment per linter
  apps/mosquitto-argocd-helm/workloads/mosquitto/values.yaml
Labels: none

Fix format issue
  apps/mosquitto-argocd-helm/README.md
Labels: area/README-update

Bump default tag, fix config mount point
  apps/unpoller-exporter/README.md
  apps/unpoller-exporter/workloads/unpoller/base/application/deployment.yaml
  apps/unpoller-exporter/workloads/unpoller/kustomization.yaml
Labels: area/README-update, area/kustomization

Moved Cloudflared values.yaml location
  apps/cloudflared-tunnel-argocd-helm/workloads/cloudflared/values.yaml
Labels: none

Initial commit of CoreDNS Autoscaler
  README.md
  apps/coredns-autoscaler-argocd-helm/README.md
  apps/coredns-autoscaler-argocd-helm/applications/coredns-autoscaler.yaml
  apps/coredns-autoscaler-argocd-helm/coredns_autoscaled_grafana_dashboard.png
  apps/coredns-autoscaler-argocd-helm/namespaces/proportional-autoscaler.yaml
  apps/coredns-autoscaler-argocd-helm/workloads/coredns-autoscaler/values.yaml
Labels: area/README-update, area/image-update

DOC: Fix nested location of values.yaml
  apps/cloudflared-tunnel-argocd-helm/README.md
  apps/coredns-autoscaler-argocd-helm/README.md
Labels: area/README-update

DOC: fix typo
  apps/coredns-autoscaler-argocd-helm/README.md
Labels: area/README-update
